@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProjPlatinaSteam.Models.ViewModels.JogosViewModel


<h1>Jogos</h1>

<form asp-action="Ordem" method="get" class="mb-4">

    <input type="hidden" name="steamId" value="@Model.SteamId" />

    <div class="form-group col-md-4">
        <label for="ordem">Ordenar por:</label>
        <select name="ordem" id="ordem" class="form-control" onchange="this.form.submit()">
            <option value="nome_asc">Nome (A-Z)</option>
            <option value="nome_desc">Nome (Z-A)</option>
            <option value="horas_desc">Mais jogados</option>
            <option value="horas_asc">Menos jogados</option>
        </select>
    </div>
</form>

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do Jogo</th>
                <th>AppID</th>
                <th>Horas Jogadas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jogo in Model.Jogos)
            {
                <tr>
                    <td>@jogo.name</td>
                    <td>@jogo.id</td>
                    <td>@jogo.gameHours</td>
                    <td>
                        <a asp-action="Conquistas"
                           asp-route-steamId="@Model.SteamId"
                           asp-route-gameId="@jogo.id"
                           class="btn-achievementes">
                            Achievements
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum jogo encontrado para este SteamID64.</p>
}